body{
    margin: 0;
    padding: 0;
}

.blue{
    color: rgb(35,189,196);
}

.footer{
    background-color: rgb(46,46,48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

.footer a{
    text-decoration: none;
    color: rgb(35,189,196);
}
.foot-one{
    display: flex;
    flex-direction: column;
    margin: 21px;
    flex-basis: 45%;
}
.lvl{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 1.3rem; 
}
.foot-two{
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 51%;
    font-size: 1.3rem;
    color: white;
}
.icon-par{
    width: 191px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.line{
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        justify-content: space-evenly;
        height: 58vh;
    }
    .foot-one{
        flex-basis: 31%;
        width: 100%;
    }
    .logo{
        display: block;
    }
}