.wishlist-container {
  padding:20px 10px;
}

table {
  width: 100%;
}

th,tr,td {
  border: 0.3px solid #f4f4f4;
  text-align: left;
  padding: 12px;
}

tr {
  background: #fff;
}


th,td {
  width: 20%;
  word-wrap: break-word;
}